<div class="contact">
  <%= link_to 'Contacts', new_contacts_path %>
</div>


<div class="write_art">
  <%= link_to 'Write article', new_article_path %>
</div>

<div class="content">
  <% @articles.reverse.each do |article| %>
    <h2><i><%= article.title %></i></h2>
    <p><%= article.text %></p>
    <p>Author: <%= article.author %></p>

    <%= link_to 'Show', article_path(article) %> |
    <%= link_to 'Edit', edit_article_path(article) %> |
    <%= link_to 'Destroy', article_path(article),
     method: :delete, 
    data: {confirm: 'Do you want to delete the article?'} %>
    <hr />
  <% end %>
</div>