<div class="art">
  <%= link_to 'All articles', articles_path(@articles) %>
</div>

<h1>New article</h1>

<%= form_for :article, url: articles_path do |f| %>
  <p>
  	<%= f.label :title %><br />
  	<%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :text %><br />
  	<%= f.text_area :text %>
  </p>
  <p>
  	<%= f.label :author %><br />
  	<%= f.text_field :author %>
  </p>
  <p>
  	<%= f.submit 'Send article' %>
  </p>	
<% end %>