<!DOCTYPE html>
<html>
  <head>
    <title>PublicBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <div class="link">
        <% if user_signed_in? %>
          Hello, <%= current_user.username %> | 
           
          <%= link_to 'Sign Out', destroy_user_session_path,
                                       method: :delete %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
        <% end %>

      </div> 
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
